sudo: required

services:
- docker

install:
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  - docker build -t pimatic .
  - docker run -d -p 127.0.0.1:8080:80 --name pimatic pimatic

script:
  - docker ps -a | grep pimatic
