version: 2
services:
  pimatic:
    image: michbeck100/pimatic
    ports:
      - 80:80
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    volumes:
      - /opt/pimatic:/opt/pimatic
    network_mode: host

