version: 2
services:
  pimatic:
    image: michbeck100/pimatic
    ports:
      - 80:8282
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    volumes:
      - /opt/pimatic:/data
      - pimatic:/opt/pimatic
    network_mode: host
volumes:
  pimatic:
